.cache
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
*.so

venv
myenv

CMakeFiles

conanbuildenv-*.sh
conanrunenv-*.sh
deactivate_conan*.sh
cmakedeps_macros.cmake
CMakePresets.json
CMakeUserPresets.json
build/

.vscode/

.DS_Store
